
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8">
        <h1 style="margin-top: 1em;" class="text-align-center">RESORT RIVERA</h1>
        <p class="text-align-center">Ven y descubre la magia del Todo Incluido Decameron, un concepto para pasar las <br>
          mejores vacaciones. Disfruta de tu tiempo de descanso en el hotel y el destino que más te guste, nosotros <br>
          haremos de tu estadía una experiencia memorable brindándote, servicio, entretenimiento y diversión. <br>
      </div>
      <div class="col-12 col-md-4">
        <img style="margin-top: 2em; height: 12em;" src="../../assets/img/hotel.jpg" class="w-100">
      </div>
    </div>
  </div>
  <div class="container fw-bold bg-color-dark" style="display: flex; flex-direction: column; align-content: center;">
    <hr style="height: 4px; background: black;">
    <h1 class="text-center">============== Servicios ==============</h1>
    <hr style="height: 4px; background: black;">
    <div class="row">
      <table class="table table-dark table-striped-columns">
        <thead>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Bañera</th>
            <td>Tina con agua caliente para baños.</td>
          </tr>
          <tr>
            <th scope="row">Cocina</th>
            <td>Cocina independiente por si te gusta preparar tus propias comidas.</td>
          </tr>
          <tr>
            <th scope="row">Lavarropas</th>
            <td>Habitacion de lavanderia con lavadora y secadora.</td>
          </tr>
          <tr>
            <th scope="row">Wifi Gratuito</th>
            <td>Conexion a internet en todas las zonas publicas del hotel.</td>
          </tr>
          <tr>
            <th scope="row">Terraza</th>
            <td>Pequeño espacio a lo alto del hotel para tomar el sol.</td>
          </tr>
          <tr>
            <th scope="row">Aire Acondicionado</th>
            <td>Aire acondicionado para tener un ambiente fresco en tu estancia.</td>
          </tr>
          <tr>
            <th scope="row">Recepcion 24/7</th>
            <td>Siempre tendras a algun recpecionista por si ocurre algun imprevisto o duda.</td>
          </tr>
          <tr>
            <th scope="row">Servicio de limpieza</th>
            <td>Diariamente se te haran cambios de toalla y limpieza en general de la Habitacion.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<hr style="height: 4px; background: black;">