<footer class="text-center text-white" style="background-color: rgb(49, 49, 49);">
  <!-- Grid container -->
  <div class="container p-4">
    <div class="row">
      <div class="col-12">
        <h5>¡Visitanos!</h5>
      </div>
      <div class="col-12">
        <iframe
        src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d2036012.4092102083!2d-76.0502718322546!3d4.667529570780539!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d6.3005949999999995!2d-75.5858882!4m5!1s0x8e3b6c175b314689%3A0x18668d5a11f7525c!2sHOTEL%20RIVERA%20RESORT%2C%20Cl.%204a%20%231057%2C%20Rivera%2C%20Huila!3m2!1d2.7791194!2d-75.2601859!5e0!3m2!1ses-419!2sco!4v1669875369588!5m2!1ses-419!2sco"
        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-12">
        ¡Te estamos esperando!
      </div>
    </div>
    
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgb(68, 0, 255) !important;">
    © 2022 Copyright:
    <a class="text-white" style="text-decoration: none;" href="https://pachitoperez.com">Johan Esteban Diaz Villada</a>
  </div>
  <!-- Copyright -->
</footer>